<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Quando quer pagar a 1ª parcela?</h1>
                    <hr />
                    <form method="post" th:object="${dateInfo}" >
                        <div class="form-group row">
                            <label for="date" class="col-sm-2 col-form-label">Data de vencimento</label>
                            <div class="col-sm-10">
                                <input th:field="*{date}" type="text" class="form-control" id="date" placeholder="Data da 1ª parcela" autofocus />
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-secondary" name="_eventId_value">&laquo; Anterior (Valores)</button>
                                <button type="submit" class="btn btn-primary" name="_eventId_portion">Próximo (Quantidade parcelas) &raquo;</button>
                            </div>
                            <div class="col-sm-10">
                                <a th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_home'}" class="btn btn-link">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:replace="fragments/footer :: footer"></script>
    </body>

</html>