<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head"></head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Em quantas parcelas quer pagar?</h1>
                    <hr />
                    <form method="post" th:object="${portionInfo}" >
                        <div class="col-sm-10 form-group row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="value100000" th:field="*{quantity}" th:value="${'12'}" checked>
                                <label class="form-check-label" for="value100000">
                                    12 x R$ 510,84
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-10 form-group row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="value8000" th:field="*{quantity}" th:value="${'10'}">
                                <label class="form-check-label" for="value8000">
                                    10 x R$ 620,12
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-10 form-group row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="value5000" th:field="*{quantity}" th:value="${'5'}">
                                <label class="form-check-label" for="value5000">
                                    5 x R$ 981,33
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-10 form-group row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="value2000" th:field="*{quantity}" th:value="${'2'}">
                                <label class="form-check-label" for="value2000">
                                    2 x R$ 1.232,46
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-10 form-group row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="value1000" th:field="*{quantity}" th:value="${'1'}">
                                <label class="form-check-label" for="value1000">
                                    1 x R$ 1.100,00
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-secondary" name="_eventId_date">&laquo; Anterior (Data de pagamento)</button>
                                <button type="submit" class="btn btn-primary" name="_eventId_summary">Próximo (Revisar) &raquo;</button>
                            </div>
                            <div class="col-sm-10">
                                <a th:href="@{'~' + ${flowExecutionUrl} + '&_eventId_home'}" class="btn btn-link">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:replace="fragments/footer :: footer"></script>
    </body>

</html>